/* !--site-wide css styles--! */

body {
  margin: 0;
  background-color: lightgrey;
  font-family: "Oxanium", sans-serif;
  overflow-y: scroll;
}

menu {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: calc(1rem + 0.2vw);
  padding: 0.25rem;
}

a:hover {
  color: #81899c;
}

a img:hover {
  background-color: #81899c;
}

nav {
  background-color: #e0001f;
}

button:hover {
  background-color: #81899c;
}
/* !--top navbar css styles--! */

header {
  background-color: #e0001f;
  height: fit-content 10vh;
}

menu.siteSections {
  align-content: center;
  justify-content: center;
}

a.brandName {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  font-size: calc(2rem + 0.5vw);
}

a.brandName:hover {
  color: black;
}

nav.banner {
  display: grid;
  grid-template: repeat(1, minmax(5vh, 10vh)) / repeat(5, minmax(auto, 1fr));
  align-items: center;
  justify-content: center;
  gap: 0.55rem;
  max-width: 85vw;
  justify-self: center;

  input {
    grid-area: 1 / 3 / 3 / span 2;
    height: 1.5rem;
    align-self: center;
    width: 100%;
  }
}

menu.accountButtons {
  display: grid;
  grid-template: repeat(1, minmax(5vh, 10vh)) / repeat(5, 1fr);
  align-items: center;
}

menu li button.menuButton {
  display: none;
}

/* !--css styling for main grid--! */

main {
  display: grid;
  grid-template: repeat(1, auto) / repeat(auto-fit, auto);
  gap: 0.5rem;
  max-width: 85vw;
  justify-self: center;
}

.allProducts {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2.5fr));
  grid-auto-rows: minmax(120px, auto);
  border: 1px solid black;
}

.productContainer {
  padding: 0.5rem;
}

.productContainer img {
  width: 100%;
}

/* !--bottom footer navbar css styles--! */

footer {
  background-color: #e0001f;
  height: 32vh;
  margin-top: 1rem;
  position: sticky;
}

.footerNav {
  display: grid;
  grid-template: repeat(1, minmax(5vh, 10vh)) / repeat(3, minmax(auto, 1fr));
  gap: 0.55rem;
  max-width: 85vw;
  justify-self: center;
}

.footerSection {
  display: grid;
  grid-template-columns: 3 1fr;
  grid-auto-rows: minmax(auto-fit, 1rem);
  padding: 0.5rem;
}

/* !--css styles for smaller/mobile screens--! */

@media (width < 800px) {
  li.topNavHide {
    display: none;
  }

  menu li button.menuButton {
    display: block;
    background-color: #e0001f;
    border: none;
  }
}
