/* !--site-wide css styles--! */

body {
  margin: 0;
  background-color: #c6cad2;
  font-family: "Oxanium", sans-serif;
}

menu {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: calc(1rem + 0.2vw);
  padding: 0.25rem;
}

a img {
  padding: 0.25rem;
}

a:hover {
  color: white;
}

a img:hover {
  background-color: white;
  border-radius: 30px;
}

/* !--top navbar css styles--! */

header {
  background-color: #7d7dca;
  height: fit-content 10vh;
}

menu.siteSections {
  align-content: center;
  justify-content: center;
}

a.brandName {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  font-size: calc(2rem + 0.5vw);
}

a.brandName:hover {
  color: black;
}

nav.banner {
  display: grid;
  grid-template: repeat(1, minmax(5vh, 10vh)) / repeat(5, minmax(auto, 1fr));
  align-items: center;
  max-width: 85vw;
  justify-self: center;

  input {
    grid-area: 1 / 3 / 3 / span 2;
    height: 1.5rem;
    align-self: center;
    width: 100%;
  }
}

menu.accountButtons {
  display: grid;
  grid-template: repeat(1, minmax(5vh, 10vh)) / repeat(5, 1fr);
  align-items: center;
}

menu li button.menuButton {
  display: none;
}

/* !--css styling for main grid--! */

main {
  display: grid;
  grid-template: repeat(1, auto) / repeat(auto-fit, auto);
  gap: 0.5rem;
  max-width: 85vw;
  justify-self: center;
}

.allProducts {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2.5fr));
  grid-auto-rows: minmax(120px, auto);
  margin-top: -1rem;
}

/* !--subsection for the product cards--! */
.productContainer {
  padding: 0.5rem;

  h1 {
    background-color: #f3c400;
    padding: 1rem;
    margin-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  p {
    padding: 0 1em;
  }

  .productImage {
    width: 100%;
  }
}

/* !--bottom card price banner css styling--! */

.cardPriceBanner {
  display: grid;
  grid-template-rows: 1 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #f3c400;
  padding: 0.5rem;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  p {
    justify-self: left;
  }

  button {
    justify-self: right;
    padding: 0.75rem;
    border-radius: 100px;
    border-color: #cca300;
    background-color: #cca300;
    border-style: hidden;
  }

  button:hover {
    background-color: #f3c400;
  }
}

/* !--subsection for sidebar--! */

menu.productCategories {
  margin-top: 0.75rem;
  padding: 0;
}

.productCategories li {
  background-color: #00ada0;
  margin: 0.35rem;
  padding: 0.75rem;
  border-radius: 3px;
}

menu.productCategories li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

menu.productCategories li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* !--bottom footer navbar css styles--! */

footer {
  background-color: #00ada0;
  min-height: 32vh;
  margin-top: 1rem;
}

.footerNav {
  display: grid;
  grid-template: repeat(1, minmax(32vh, auto)) / repeat(3, minmax(auto, 1fr));
  gap: 0.55rem;
  max-width: 85vw;
  justify-self: center;
}

.footerSection {
  display: grid;
  grid-template-columns: 3 1fr;
  grid-auto-rows: minmax(auto-fit, 1rem);
  padding: 0.5rem;
}

/* !--css styles for smaller/mobile screens--! */

@media (width < 800px) {
  li.topNavHide {
    display: none;
  }

  nav.banner {
    max-width: 100vw;
    padding-left: 0.5rem;
  }

  menu li button.menuButton {
    display: block;
    background-color: #7d7dca;
    border: none;
    grid-area: 1 / 4 / 2 / 4;
  }

  menu li button.menuButton:hover {
    background-color: white;
    border-radius: 50px;
  }

  main {
    max-width: 100vw;
  }
}
