body {
  margin: 0;
}

menu {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: powderblue;
}

nav.banner {
  display: grid;
  grid-template: repeat(1, minmax(5ch, 10ch)) / repeat(5, minmax(5ch, 1fr));

  input {
    grid-area: 1 / 2 / 3 / span 2;
  }
}
